body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;

    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
}

a:hover {
    background-color: navy;
}
.info-box{
    background:#fff3cd;
    padding:15px;
    border-radius:8px;
    margin-bottom:20px;
    font-size:16px;
    border:1px solid #ffeeba;
}