<!DOCTYPE html>
<html>
<head>
    <title>Sanskrit Learning Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Sanskrit Learning Portal</h1>


<h2>Lesson 0</h2>

<p>
YouTube Channel:
<a href="http://www.youtube.com/@nbirajaz" target="_blank">
Visit Channel
</a>
</p>

<p>
MCQ Quiz:
<a href="https://forms.gle/DWaDPC16AfHLbyQDA" target="_blank">
Open Google Form
</a>
</p>

<hr>


<h2>Lesson 1</h2>

<p>
YouTube Playlist:
<a href="https://youtube.com/playlist?list=PLGE86L_W6j32RRSj4105L0tcXW7novq9-&si=e5RX71AMa_zzOMO6" target="_blank">
Watch Playlist
</a>
</p>

<p>
MCQ Quiz:
<a href="https://forms.gle/8fTuCHwRRMfmjBE3A" target="_blank">
Open Google Form
</a>
</p>

<hr>


<h2>Lesson 2</h2>

<p>
YouTube Playlist:
<a href="https://youtube.com/playlist?list=PLGE86L_W6j31sSWywt2G4rlPsyQ1ob-Ng&si=jSvpqR43zdGbsCg3" target="_blank">
Watch Playlist
</a>
</p>

<p>
MCQ Quiz:
<a href="https://forms.gle/i2b4uD6Kotvvuypz9" target="_blank">
Open Google Form
</a>
</p>

</body>
</html>