<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<div class="info-box">
<p>
Complete <b>Lesson 0, Lesson 1, and Lesson 3</b> from the YouTube playlist and take the MCQ quiz.
</p>

<p>
If you complete the lessons and pass the MCQ test, you will receive an <b>amazing gift</b> from us.
</p>

<p>
<b>Passing mark: 60%</b>
</p>

<p>
Also, take the quiz from YouTube and leave a comment after completing it.
</p>

<p>
Please provide your phone number and email address correctly in the MCQ quiz Google Form so that our team can contact you soon.
</p>
</div>
<body>
    <h2>Login</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Enter Username" required><br><br>
        <input type="password" name="password" placeholder="Enter Password" required><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>